Django>1.6
django-bootstrap-form>=3.1,<4
email-reply-parser
django-markdown-deux
simplejson
django-configurations==0.8
django-secure==1.0
django-cache-url==0.8.0
dj-database-url==0.3.0
django-braces==1.4.0
django-crispy-forms==1.4.0
django-floppyforms==1.2.0
django-model-utils==2.2
Pillow==2.5.3
django-allauth==0.18.0
psycopg2==2.5.4
unicode-slugify==0.1.1
django-autoslug==1.7.2
django-avatar==2.0
coverage==3.7.1
Sphinx
django-debug-toolbar==1.2.1
python-memcached==1.53
gunicorn==19.1.1
django-helpdesk
